* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.col_films-bg {
    background-color: #0B022D;
}

.col_films-bg-light {
    background-color: #342C50;
}

.col_films-status-bar, .col_films-signUp, .signing {
    margin: 0rem 0.8rem;
}

.col_films-date {
    text-align-last: left;
    
}

.col_films-date p {
    margin: revert;
}

.col_films-bar {
    text-align-last: right;
}

.sign-up-hero {
    margin: initial;
}

.privacy_policy {
    margin-top: 7rem;
}

.line {
    border: 1px solid #868686;
    width: 94%;
    margin: auto;
}