@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    background-color: #0b022d;
    width: 390px;
    height: 844px;
    padding: 0 13px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px none;
    align-items: center;
    margin-left: 60px;

}


.status-container{
  min-width: 360px;
  align-items: center;
  background-color: rgb(255, 255, 255, 1);
  display: flex;
  gap: 5px;
  height: 24px;
  justify-content: flex-end;
  padding: 0 12px;
  margin-top: 1px;
}

.cellular{
    width: 18px;
    height: 12px;
    
    
    
}
.wifi{
    width: 16px;
    height: 12px;
    
}
.battery{
    width: 24px;
    height: 12px;
    left: 5px;
    top: 5px;
    
}
.time{
color: black;
position: absolute;
left: 50px;
top: 22px;
line-height: normal;
font-family: "Inter";
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
margin-left: 30px;
}
.flex-row{
    align-items: center;
    display: flex;
    min-width: 358px;
    height: 35px;
    gap: 160px;
    margin-top: 50px;
}
.title{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255, 1);
    line-height: 35px;
    letter-spacing: 0;
    min-width: 166px;

}

.close{
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin-right: 1px;
    margin-top: 50px;
}
.videouploadcontainer{
    width: 358px;
    height: 128px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 15px;
}
.play-btn{
    width: 32px;
    height: 32px;
    margin-top: 5px;
}
.play-btn:active{
    cursor: pointer;
}
.action{
    min-width: 117px;
    min-height: 46px;
    letter-spacing: 0;
    line-height: 23px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: rgb(157, 157, 157, 1);
}
.time-limit{
    min-width: 82px;
    height: 17px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: rgb(157, 157, 157, 1);
    align-self: flex-end;
    margin-top: -25px;
    margin-right: 15px;
}
.picuploadcontainer{
    width: 358px;
    height: 128px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 15px;
}
.pic-btn{
    width: 32px;
    height: 32px;
    margin-top: 10px;
}
.pic-btn:active{
    cursor: pointer;


}
.action2{
    min-width: 117px;
    min-height: 46px;
    letter-spacing: 0;
    line-height: 23px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: rgb(157, 157, 157, 1);
}
.video-title{
    width: 358px;
    height: 54px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: rgb(157, 157, 157, 1);
    border-radius: 8px;

}
.name{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: white;
    min-width: 83px;
    height: 20px;
    margin-left: 2px;
    margin-top: 10px;
    text-align: center;
    display: flex;

}
.video-title:active{
    cursor: pointer;
    
}
.video-category{
    width: 358px;
    height: 54px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: rgb(157, 157, 157, 1);
    border-radius: 8px;

}
.name-2{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: white;
    min-width: 83px;
    height: 20px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    display: flex;

}
.video-description{
    width: 358px;
    height: 54px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: rgb(157, 157, 157, 1);
    border-radius: 8px;

}
.name-3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: white;
    min-width: 83px;
    height: 20px;
    margin-left: 2px;
    margin-top: 10px;
    text-align: center;
    display: flex;

}
.btn{
    width: 358px;
    height: 60px;
    padding: 10px;
    background-color: rgb(255, 32, 110, 1);
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    color: white;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(157, 157, 157, 1);
}
.btn:hover{
    background-color: crimson;
    cursor: pointer;
}