*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3e3f0;
    margin-top: 15px;
}
.back{
    margin-left: 20px;

}

.forpswd{
    margin-left: 20px;

}
.forpswd h3{
    margin-top: 32px;
    margin-bottom: 30px;
}
.forpswd p{
    font-size: 16px;
}
.forpswd{
    margin-bottom: 45px;
}
.inpwsd{
    display: flex;
    margin-left: 20px;

}
.lock{
    background-color: #ffff;
    width: 90px;
    border: 1px solid ;
}
.lock img{
    display: flex;
    justify-self: left;
    align-self: left;
    margin-left: 50px;
    padding-top: 2px;
    padding-bottom: 4px;
}
input[type="password"]
{
    font-size:20px;
    border: 1px solid ;
}
.btnreset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}
.btnreset button{
    background-color: #FF206E;
    color: #ffff;
    width: 270px;
    border-radius: 40px;
    height: 46px;
}